<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MBStockTracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>689CBDE22F8FC4CA00833EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>689CBDF82F8FC4D100833EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>689CBE022F8FC4D100833EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
